# Google Calendar API Key (on local machine)
# In CI the API key is stored in an environment variable.
google-calendar

# Build output
/build

# IntelliJ
.idea/

# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

.DS_Store
