$screenBackground: #14171A;

$breakpointSmall: 1100px;
$breakpointMedium: 1300px;
$breakpointWide: 1600px;

html, body {
  position: relative;

  background: $screenBackground;
}

//---------- LANDSCAPE LAYOUT ----------//
body {
  @media (aspect-ratio > 1) {

    main {
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: 100vh;
    }

    #mainPane {
      flex: 1;

      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      header {
        padding: 0 128px;

        text-align: center;

        #mascot {
          margin-bottom: 20px;
          height: 128px;
          opacity: 0.5;
        }

        h1 {
          text-align: center;

          color: WHITE;
          text-transform: uppercase;
          letter-spacing: 0.4em;
        }

        .divider {
          height: 1px;
          max-width: 600px;
          margin: 16px 48px;

          background: #252525;
        }

        .subtitle {
          text-align: center;

          color: #949494;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
      }

      #episodePlayer {
        width: 600px;

        #playerContainer {
          margin: auto;
          max-width: 500px;
          height: 200px;
          overflow: hidden;

          background: WHITE;
          border-radius: 6px;
        }
      }

      #nextShowCalendar {
        text-align: center;

        h3 {
          margin: 0;

          text-align: left;

          color: #3C3C3C;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }

        #nextShowDate {
          margin: 0;
          margin-bottom: 8px;

          color: #656565;
          font-size: 14px;
          font-weight: bold;
        }

        a {
          color: #4DBEFF;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      #attribution {
        margin-bottom: 48px;

        color: #394B5D;
        font-size: 12px;
        font-weight: bold;

        a {
          color: #4DBEFF;
          text-decoration: none;
        }
      }
    }

    #episodeDirectoryPane {
      width: 300px;
      padding: 8px;

      #episodeDirectoryWindow {
        height: 100%;

        background: WHITE;
        border-radius: 8px;
        padding: 8px;

        overflow-y: auto;

        .episode-list-item {
          position: relative;
          padding-top: 4px;
          padding-bottom: 4px;

          &:not(:last-child)::after {
            content: ""; /* Creates the divider */
            position: absolute;
            bottom: 0; /* Position it at the bottom of the list item */
            left: 12px; /* Add padding to the left of the divider */
            right: 12px; /* Add padding to the right of the divider */
            height: 1px; /* Thickness of the divider */
            background-color: #EEE; /* Divider color */
          }

          & > .content {
            padding: 8px;
            border-radius: 4px;

            cursor: pointer;

            h4 {
              margin-bottom: 0.2em;

              color: BLACK;
              font-size: 13px;
              font-weight: bold;
            }

            .date {
              margin-bottom: 0;

              color: #A7A7A7;
              font-size: 10px;
            }
          }

          &:hover > .content {
            background: #EEEEEE;
          }

          &.selected > .content {
            background: #4CBBF7;

            cursor: default;

            h4 {
              color: WHITE;
            }

            .date {
              color: #2A8EC4;
            }
          }
        }
      }
    }

  } // End media query for aspect ratio
} // End "body"
//-------- END LANDSCAPE LAYOUT ----------//



// -----------------------------------------------------------



//---------- PORTRAIT LAYOUT ----------//
body {
  @media (aspect-ratio <= 1) {

    main {
      display: flex;
      flex-direction: column;
      width: 100vw;
    }

    #mainPane {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0 48px;

      header {
        text-align: center;

        #mascot {
          margin-top: 24px;
          margin-bottom: 20px;
          height: 128px;
          opacity: 0.5;
        }

        h1 {
          text-align: center;

          color: WHITE;
          text-transform: uppercase;
          letter-spacing: 0.4em;
        }

        .divider {
          height: 1px;
          max-width: 600px;
          margin: 16px 48px;

          background: #252525;
        }

        .subtitle {
          text-align: center;

          color: #949494;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
      }

      #episodePlayer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        background: WHITE;
        border-top: 2px solid #DDDDDD;

        z-index: 9999;

        #playerContainer {
          margin: auto;
          max-width: 500px;
          height: 200px;
          overflow: hidden;

          background: WHITE;
          border-radius: 0px;

          iframe {
            height: 200px;
          }
        }
      }

      #nextShowCalendar {
        margin-bottom: 24px;

        text-align: center;

        h3 {
          margin: 0;

          text-align: left;

          color: #3C3C3C;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }

        #nextShowDate {
          margin: 0;
          margin-bottom: 8px;

          color: #656565;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
        }

        a {
          color: #4DBEFF;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      #attribution {
        margin-bottom: 48px;

        color: #394B5D;
        font-size: 12px;
        font-weight: bold;

        a {
          color: #4DBEFF;
          text-decoration: none;
        }
      }
    }

    #episodeDirectoryPane {
      width: 100%;

      #episodeDirectoryWindow {
        background: WHITE;
        padding: 8px;

        // Make space for the bottom mounted player.
        padding-bottom: 224px;

        .episode-list-item {
          position: relative;
          padding-top: 4px;
          padding-bottom: 4px;

          &:not(:last-child)::after {
            content: ""; /* Creates the divider */
            position: absolute;
            bottom: 0; /* Position it at the bottom of the list item */
            left: 12px; /* Add padding to the left of the divider */
            right: 12px; /* Add padding to the right of the divider */
            height: 1px; /* Thickness of the divider */
            background-color: #EEE; /* Divider color */
          }

          & > .content {
            padding: 8px 12px;
            border-radius: 4px;

            cursor: pointer;

            h4 {
              margin-bottom: 0.2em;

              color: BLACK;
              font-size: 16px;
              font-weight: bold;
            }

            .date {
              margin-bottom: 0;

              color: #A7A7A7;
              font-size: 14px;
            }
          }

          &:hover > .content {
            background: #EEEEEE;
          }

          &.selected > .content {
            background: #4CBBF7;

            cursor: default;

            h4 {
              color: WHITE;
            }

            .date {
              color: #2A8EC4;
            }
          }
        }
      }
    }

  } // End media query for aspect ratio
} // End "body"
//-------- END LANDSCAPE LAYOUT ----------//